* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.startScreen {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.startDiodesContainer {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startDiodes {
    width: 16px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0.1px 3px 10px #bdbdbd;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.homePage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    min-height: 10vh;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 300px;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
    margin-right: 10px;
}

menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

menu ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

menu ul li a {
    margin: 0 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.aMenu {
    color: #000;
}

.aMenu:hover {
    color: #999;
}

.headerBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.themeBtn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    margin: 10px;
}

.menuBtn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    background-color: #333;
    margin: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.menuContainer {
    position: fixed;
    width: 100%;
    height: 80vh;
    background-color: #333;
    z-index: 2;
    display: none;
    bottom: 0;
}

.ulMenu {
    list-style: none;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.liMenu {
    font-size: 20px;
    width: 100%;
    height: 150px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 30px 50px;
}


.volumeControlContainer {
    width: 50px;
    height: 200px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputContainer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volumeControlBtn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #333;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 19px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    transform: rotate(270deg);
    transition: 1s;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background: #999;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    border-radius: 50%;
}


input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #cccccc;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}


input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

.playContainer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
}

#trackTitle {
    position: relative;
    top: 60px;
}

#colo_1,
#colo_2,
#colo_3,
#colo_4,
#colo_5 {
    border-radius: 50%;
    border: 1px solid #333;
    margin: 10px;
    transition: 1s;
}

@keyframes marginColo {
    0% {
        margin: 10px;
    }

    50% {
        margin: 25px;
    }

    100% {
        margin: 10px;
    }
}

@keyframes marginColo2 {    
    100% {
        margin: 10px;
    }
}

.btnPlay {
    width: 100px;
    height: 100px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}

#pause {
    display: none;
}

.timetablePage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.timetablePage header {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

header h2 {
    font-size: 32px;
}

.ttbContainer {
    width: 100%;
    min-height: 80vh;
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.ttBlock {
    width: 500px;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 5px #333;
    padding: 25px;
    margin: 10px;
}

.circleDotBlock {
    width: 15%;
    height: 100%;
}

.circleDotBlock i {
    font-size: 26px;
}

.ttTextBlock {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teamPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teamPage header {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.teamContainer {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 100px;
}

.teamBlock {
    width: 300px;
    height: 420px;
    box-shadow: 0 1px 5px #333;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.teamBlock:hover {
    box-shadow: 0 2px 10px #333;
}

.teamBlock img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.teamTxtBlock {
    width: 100%;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.teamTxtBlock p {
    font-size: 18px;
}

.teamTxtBlock h3 {
    font-size: 22px;
}

.teamTxtBlock a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 18px;
}

.partnersPage {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.partnersPage header {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.partnersContainer {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px 150px 130px;
}

.partnersContainer a img {
    width: 160px;
}

footer {
    width: 100%;
    min-height: 80vh; 
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 50px 30px 50px;
    border-top: 1px solid #fff;
}

.topFooterBlock {
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
}

.footerTXtBlock {
    width: 39%;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerLogo h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 900;
}

.footerTXtBlock p {
    color: #fff;
    font-size: calc(15px + 0.9vw);
    width: 80%;
}

.navContainer {
    width: 28%;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
}

.navHeader {
    height: 5vh;
    margin-bottom: 50px;
}

.navHeader h2 {
    font-size: 28px;
    color: #fff;
}

.navBlocks {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navBlocks a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
} 

.navBlocks a:hover {
    color: #a1a1a1;
}

.contactContainer {
    width: 33%;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactHeader {
    height: 5vh;
}

.contactHeader h2 {
    color: #fff;
    font-size: 28px;
}

.contactBlocks {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactBlocks a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.contactBlocks a:hover {
    color: #a1a1a1;
}

.mesengersContainer {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mesengersContainer a{
    text-decoration: none;
    color: #333;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesengersContainer a:hover {
    background-color: #999;
    color: #fff;
}

hr {
    margin: 50px 0 0 0;
}

.bottomFooterBlock{
    width: 100%;
    max-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    padding-top: 20px;
}

@media screen and (max-width: 1000px){
    .teamContainer {
        padding: 20px 25px;
    }

    .partnersContainer {
        padding: 20px 50px 150px 50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .partnersContainer a img {
        margin: 20px;
        scrollbar-width: none;
    }

    .topFooterBlock {
        flex-direction: column;
    }

    .footerTXtBlock {
        width: 100%;
        align-items: center;
        margin-bottom: 50px;
    }

    .footerTXtBlock p {
        width: 100%;
    }

    .navContainer {
        width: 100%;
        align-items: center;
        margin-bottom: 50px;
    }

    .contactContainer {
        width: 100%;
        align-items: center;
        margin-bottom: 50px;
    }

    .mesengersContainer {
        width: 100%;
    }
}

@media screen and (max-width: 830px){
    .menuBtn {
        display: flex;
    }

    menu {
        display: none;
    }

    .ttbContainer {
        padding: 0 25px;
    }
}

@media screen and (max-width: 450px){
    header h2 {
        font-size: 22px;
    }

    .logo img {
        width: 60px;
    }

    #trackTitle {
        font-size: 20px;
    }

    .contactBlocks a {
        font-size: 20px;
    }
}